.pub-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  margin-bottom: 15px;
}


.pub-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
}

.pub-info {
  flex: 1;
}

.pub-info h2 {
  margin: 0;
  font-size: 16px;
  color: #222222;
  font-weight: 600;
}

.pub-info p {
  margin: 4px 0 0;
  font-size: 14px;
  color: #555;
  line-height: 1.2;
}

.fechaHora {
  font-size: 12px;
  color: #888;
  margin-top: 6px;
}
